body {
  font-family: 'Montserrat', sans-serif !important;
  background-color: black;
  background-image: url('https://i.postimg.cc/d3zGHqN2/wallpaperbetter.jpg');
/*  image delete link: https://postimg.cc/delete/SF0pcwXRH/d077c01e  */
  background-size: 100%;
}

header {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 18px;
}

a {
  color: yellow;
}

a:hover {
  color: red;
}

/* .image {
  background-position: center;
  opacity: 0.5;
  background-color: lightgreen;
  background-image: url('../images/wallpaperbetter.jpg');
} */

h1 {
  color: lightgreen;
  font-weight: bold;
  font-size: 300%;
  text-align: center;
  text-shadow: 2px 2px black;
}

p {
  color: lightgreen;
  font-weight: 800;
  font-size: 200%;
  text-align: center;
  padding: 10%;
  text-shadow: 1px 1px black;
}
